<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AJAX DataBase</title>
    <link rel="stylesheet" href="style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <form>
      <select name="users" id="users" onchange="showUser(this.value)">
        <option value="">Select a person:</option>
        <option value="1">sunimal</option>
        <option value="2">nimal</option>
      </select>
    </form>
    <br />
    <div id="txt-hint"><b>Person info will be listed here...</b></div>
    <script src="logic.js" async defer></script>
  </body>
</html>
